<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout}"
	>
	<head>
		<title>Cadastro de Reservas</title>
	</head>
	<body>
		<section layout:fragment="corpo">
			<div class="container mt-4">
				<div th:replace="fragments/mensagemSucesso.html :: alert"></div>
				<div class="row">
					<div class="col-12 col-sm-9">
						<h4>Cadastro de Reservas</h4>
					</div>
					<div class="col-12 col-sm-3" style="text-align: right;">
						<a type="button" class="btn btn-success" th:href="@{/bilhetes}">Pesquisar <i class="far fa-eye"></i></a>
					</div>
				</div>
				<hr>
				<div class="card">
					<div class="card-body">
						<form th:object="${bilhete}" method="post" th:action="@{/bilhetes/novo}">
							<div class="row">
									<input type="hidden"  th:field="*{dataReserva}">
								
							</div>
				<hr>
				<table class="table table-stripped table-bordered">
					<tr>
						<th class="col-1">Codigo</th>
						<th class="col-2">Data</th>
						<th class="col-2">Origem-Destino</th>
						<th class="col-1">Hora de Partida</th>
						<th class="col-1">Hora de Chegada</th>
						<th class="col-1">Preco</th>
						<th class="col-2">Aeronave</th>
						<th class="col-2 text-center"><i class="fa fa-cogs"></i></th>
					</tr>
					<tr th:each="voo: ${voos}">
						<td th:text="${voo.codigo}"></td>
						<td th:text="${voo.data}"></td>
						<td>
							<Span th:each="provincia: ${voo.provincia}">
								<Span th:text="${provincia.nome}"></Span>
							</Span>
						</td>
						<td th:text="${voo.horaPartida}"></td>
						<td th:text="${voo.horaChegada}"></td>
						<td th:text="${voo.preco}"></td>
						<td th:text="${voo.aeronave?.referencia}"></td>
						<td class="text-center">
							<a th:href="@{/bilhetes/{codigo}(codigo = ${voo.codigo})}" data-bs-toggle="tooltip" data-bs-placement="left" title="Reservar"><i class="fa fa-user-edit"></i></a> 
						</td> 
					</tr>
				</table>
						</form>
					</div>
				</div>
			</div>
		</section>
	</body>
</html>