<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
	</head>
	<body>
		
		<footer class="bg-dark text-white" th:fragment="footer" style="position:relative; width: 100%">
			<div class="container">
				
      <div class="row">
        <div class="col-md-2">
          <h3 class="h4 mb-4"></h3>
        </div>
        <div class="col-md-10">
          <div class="row">
            <div class="col-md-3 col-sm-6">
              <h4 class="h6">Endereço</h4>
              		<address>
    						<ul class="list-unstyled">
    							<li>
                    Maputo<br>
    								Alto Mae<br>
    								Avenida<br>
    								735<br>
    							</li>
    						</ul>
    					</address>
            </div>
            <div class="col-md-3 col-sm-6">
              <h4 class="h6">Serviços</h4>
              <ul class="list-unstyled">
                <li><a href="#">Reservas</a></li>
                <li><a href="#"></a></li>
                <li><a href="#">Turismo</a></li>
                <li><a href="#">Hospedagem</a></li>
                
              </ul>
            </div>
            
            <div class="col-md-3 col-sm-6">
              <h4 class="h6">ViajaNet</h4>
              <ul class="list-unstyled">
                <li><a href="#">Nossa Team</a></li>
                <li><a href="#">Sobre nos</a></li>
                <li><a href="#">Contacto</a></li>
                <li><a href="https://themes.getbootstrap.com/product/robust-ui-kit-dashboard-landing/" target="_blank">Purchase</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
				<div class="text-center py-1">
					<span class="font-weight-bold">Enginner &copy;2021 </span>
				</div>
			
		</footer>
	</body>
</html>