<!DOCTYPE html>
<html 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout}">
	<head>
		<title>ViajaNet - Sobre</title>
	</head>
	
        <body >
            <h1 class="content-l" align="center">
                ViajaNET<br>
            </h1>
          	<section class="content" layout:fragment="corpo">
          	<img style="background-image: linear-gradient(15deg, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0) 50%);" src="../img/aviaooff.jpeg" height="700px" width="100%" alt="foto">
       
            
                <div class="content-l">
                <h1 >Compre na ViajaNET</h1>
                <h4></h4>
                </div>
                	
          		<br>
          		
         		 <h3 class="h3-l">Quem somos</h3>
         		 
          		<br>
          		<div class="cont">
          		<div class="missao" id="missao">
          		<h1>Missao</h1>
          		</div>
          		<div class="visao" id="visao">
          		<h1>Visao</h1>
          		</div>
          		<div class="objectivos" id="objecivos">
          		<h1>Objectivos</h1> 
          		</div>
          		
          		</div>
          		
          		
          		 </section>         
                <br>   
        </body>     
</html>