<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{adminlayout}"
	>
	<head>
		<title>Cadastro de Companhias aereas</title>
	</head>
	<body>
		<section layout:fragment="corpo">
			<div class="container mt-4">
				<div th:replace="fragments/mensagemSucesso.html :: alert"></div>
				<div class="row">
					<div class="col-12 col-sm-9">
						<h4>Cadastro de Companhias Aereas</h4>
					</div>
					<div class="col-12 col-sm-3" style="text-align: right;">
						<a type="button" class="btn btn-success" th:href="@{/companhiaAereas}">Pesquisar <i class="far fa-eye"></i></a>
					</div>
				</div>
				<hr>
				<div class="card">
					<div class="card-body">
						<form th:object="${companhiaAerea}" method="post" th:action="@{/companhiaAereas/novo}">
							<input type="hidden" th:field="*{codigo}"/>
							<div class="row">
								<div class="col-sm-12 col-md-8">
									<label for="nome" class="form-label">Nome</label>
									<input type="text" class="form-control" id="nome" th:field="*{nome}">
								</div><div class="row mt-8">
								<div class="col-sm-12 col-md-4">
									<label for="nacionalidade" class="form-label">Pais de Origem</label>
									<select class="form-control" id="nacionalidade" th:field="${companhiaAerea.nacionalidade}">
										<option value="">Selecione o Pais</option>
										<option th:each="ca: ${nacionalidades}"
										th:value="${ca.codigo}"
										th:text="${ca.pais}">
										</option>
									</select>
								</div>
							</div>
							
							<button type="submit" class="btn btn-primary mt-4">Cadastar <i class="fa fa-user-plus"></i></button>
						</form>
					</div>
				</div>
			</div>
		</section>
	</body>
</html>